body {
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: rgba(189, 195, 199, 0.45);*/
    -moz-appearance: none;
}

h1 {
    font-size: 16pt;
    color: gray;
    margin-top: 25%;
}

h3 {
    text-align: center;
    margin-top: 25%;
    font-size: 16pt;
    color: gray;
}

#content-menu {
    margin-left: 10px;
}

#result-container {
    overflow-y: scroll;
    height: 82vh;
    width: 120vh;
    margin-left: 210px;
}

.result {
    margin: 5px 20px 5px 5px;
    list-style: none;
    width: 150px;
    height: 45%;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    /*background-color: #171717;*/
    background-color: rgba(74, 163, 223, 1.0);
    font-size: 11pt;
    padding: 25px 25px 25px 25px;
}

a {
    text-decoration: none;
    color: #ccc;
}

.liste-panier {
    list-style-type: none;
}

.bt-add {
    width: 20px;
    padding: 2px 5px;
    margin: 8px 0px 0px 8px;
    display: inline-block;
    border: 0px solid #ccc;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    box-sizing: border-box;
    /*background-color: #171717;*/
    background-color: rgba(75, 75, 75, 0.75);
    color: #adadad;
}

.bt-delete {
    width: 20px;
    padding: 2px 5px;
    margin: 8px 0px 0px 0px;
    display: inline-block;
    border: 0px solid #ccc;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    box-sizing: border-box;
    background-color: rgba(75, 75, 75, 0.75);
    color: #adadad;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

#loading {
    text-align: center;
}

#gif {
    top: 60%;
    left: 47%;
    position: absolute;
    width: 5%;
}